<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/neo tlaletsi/Downloads/api/pom.xmlpom.xml">
        <packages>
            <package name="com.momentum.api"></package>
        </packages>
    </test>
</suite>